@CHARSET "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
	font-family: 'Josefin Sans', sans-serif;

}
ul.navSide li{
	padding: 3%;
    text-align: center;
}
ul.navSide a{
	color:black;
	font-weight: 700;
}
ul.navSide li:hover{
	background-color:#e8e6e8;
}
.carousel{
	height:300px;
}
.carousel img{
	height:300px !important	;
}

.news>.divider-new{
	
	color:#e8b1b1;
}
.divider-new{
	margin:0 !important;
}
.myNav{
	    border-right: 1px solid #ededec;
    margin-top: 7%;
}
.collections .collection-item{
	height:200px;
	background-size: cover; 
	margin-left:1%;
}
.collections .collection-item>div{
	background-color: rgba(234, 193, 197, 0.72);
    margin-top: 130px;
    text-align: center;
    padding: 8%;
    font-size: 13pt;
}

.collections .collection-item>div a{
 color:white;
}
.cat1{
	background-image:url('../img/Desert.jpg') ;
}
.cat2{
	background-image:url('../img/Chrysanthemum.jpg') ;
}
.cat3{
	background-image:url('../img/Hydrangeas.jpg') ;
}